
@font-face { font-family: A-Bit-Empty; src: url("../A Bit Empty.ttf"); }
@font-face { font-family: simple joys; src: url("../simple joys.ttf"); }
body{
  font-family: A-Bit-Empty;
}
.container{
  width: 1100px;
  margin: auto;
  height: auto;
  position: relative;
  z-index: 0;
}
header{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: 20px 80px 20px 0px;
  background-color: #fff;
}
.right-content li{
  display: inline-block;
  margin: 10px 30px;
}
.right-content li a{
 font-size: 1.5em;
 text-decoration: none;
 padding: 5px;
 color: #85E8B3;
 display: inline-block;
}
.left-content{
  margin-left: 20px;
  position: relative;
  z-index: 0;
}
#logo{
  position: relative;
  z-index: 2;
  top: 5px;
  color: #1EA8A5;
  font-size: 2em;
  text-shadow: 2px 1px 3px;
  background-color: white;
  border: 10px solid white;
  -webkit-box-shadow: -1px 7px 159px 31px rgba(255,223,229,1);
  -moz-box-shadow: -1px 7px 159px 31px rgba(255,223,229,1);
  box-shadow: -1px 7px 159px 31px rgba(255,223,229,1);
  border-radius: 35px;
  padding-left: 8px;
  padding-right: 8px;
}
#blue-paint1{
  position: absolute;
  z-index: 3;
  bottom: 5px;
  left: -5px;
  width: 120%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.main-content-home{
  width: auto;
  height: 706px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-left: 25px dotted black;
  border-right: double white 6px;
  border-bottom: double #85E8B3 4px;
  z-index: 1;
  font-family: Capture It;
  margin-top: 97px;
  margin-bottom: 20px;
  background-color: #fff;
  background-image:
   linear-gradient(
    #fff, #85E8B3
    );
}
.main-title:before{
  position: absolute;
  top: 120px;
  left: 200px;
  content: "learning to code , every day , one project at a time";
  opacity: .45;
  font-size: 55px;
  font-family: simple joys;
  color: black;
  transform: rotate(349deg);
  text-shadow: none;
}
.main-title{
  display: flex;
  justify-content: center;
  width: auto;
  font-size: 5em;
  color: #1EA8A5 ;
  text-shadow: -1px 0 #00ffde, 0 1px #00ffde, 1px 0 #00ffde, 0 -1px white;
  text-border-color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#rus{
  color: white;
  border: 1px solid lightblue;
  background: lightblue;
  text-decoration: none;
  border-radius: 3px;
  padding: 0px 2px;
}
.sub-title{
  width: auto;
  font-size: 5em;
  text-shadow: -1 0 gray, 0 1px white, 1px 0 white, 0 -1px white;
  color: #aaff77;
  padding: 0px;
  margin: 0px;
}
#aqua-paint{
  position: absolute;
  z-index: -1;
  width: 77%;
  top: 300px;
  right: 400px;
  opacity: .5;
  transition-delay: 4s;
  transition-duration: 3s;
}
#pink-paint{
  position: absolute;
  z-index: -1;
  top: 40px;
  right: 70px;
  width:80%;
  transition-duration: 4s;
}
.media-btn ul{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
}
.media-btn li{
  display: inline-block;
  padding: 15px;
}

/*ABOUT SECTION*/
.title{
  text-align: center;
  font-size: 4em;
  font-family: simple joys;
  color: #1EA8A5 ;
  text-shadow: -1px 0 #00ffde, 0 1px #00ffde, 1px 0 #00ffde, 0 -1px white;
  text-border-color: white;
  margin-top: 120px;
  margin-bottom: 10px;
}
.main-content-about{
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  background-color: #fff;
}
.about-content{
  width: 1100px;
  display: block;
  align-items: center;
  padding: 0px;
}
.cropcircle{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: #eee no-repeat center;
  background-size: cover;
}

#photo{
  float: left;
  margin-left: 20px;
  margin-right: 35px;
  margin-bottom: 20px;
  background-image: url("../img/image1 (1).PNG");
}
hr{
  opacity: .3;
}
p{
  font-family: Helvetica !important;
  line-height: 30px;
  font-size: 20px;
  color: #808080;
  margin: 30px;
}
.text-about{
  float: right;
  border-left: 15px solid #85E8B3;
  padding: 15px;
  width: auto;
}

/*PORTFOLIO SECTION*/
.main-content-portfolio{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 40px;
}
.prog-icons{
  margin: 40px 0px;
}
.p-row{
  width:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.p-cell:hover{
  padding: 20px;
  border: 3px solid #1EA8A5;
  border-radius: 22px;
  box-shadow: inset 5px 5px 5px gray;
  margin: 7px 12px;
  background-color: lightgray;
  opacity: 1;
}
.p-cell{
  padding: 20px;
  border: 5px solid lightblue;
  opacity: .8;
  border-radius: 19px;
  margin: 5px 10px;
  background-color: lightgray;
}

/*CONTACT*/
.main-content-contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 1100px;
  height: 420px;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 30px;
  font-size:1em;
  background-color: #fff;
  border: 15px solid #;
}
#green img{
  position: absolute;
  top: 120px;
  left: 300px;
  z-index: -1;
  width: 20%;
}
#email{
  padding-top: 20px;
  font-size: 4em;
  color: lightgray;
  font-family: arial;
}
footer{
  width: 180px;
  margin: auto;
  font-size: 1em;
  color: gray;
  font-family: Helvetica;
}


.sidebar ul{
  padding: 0px;
}
.sidebar ul li{
  display: inline-block;
  float: left;
  padding: 15px 10px;
  font-family: Helvetica;
  margin-bottom: 16px;
  font-size: 16px;
  cursor: pointer;

}
.sidebar ul li a{
  text-decoration: none;
  color: lightblue;

}
.sidebar ul li a:nth-child(1):hover{
  color: #1EA8A5 ;
}
.sidebar ul li:nth-child(5){
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#sub-links{
  margin-top:0;
}
#sub-links li{
  padding: 2px;
  margin: 0;
}
#sub-links li a{
  font-size: 15px;
  color: #aaff77;
}
#sub-links li a:hover{
  font-size: 15px;
  color: #85E8B3;
}
#sidebartoggler{
  display: none;
}
.sidebar{
  position: fixed;
  top: 100px;
  bottom: 2px;
  right: -190px;
  z-index: 0;
  width:137px;
  padding: 10px;
  background: white;
  border-bottom: double white 6px;
  border-left: dotted lightblue 8px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: .9;
  transition-duration: 2s;
}
.toggle{
  text-decoration: none;
  font-size: 100px;
  color: lightgray;
  position: absolute;
  top: 380px;
  right: 180px;
  z-index: 1;
  cursor: pointer;
  transition-duration: 4s;

}
/*[type="checkbox"]:checked + .page-wrap{*/
 [type="checkbox"]:checked + .page-wrap .sidebar{
    right: 0px;
}

[type="checkbox"]:hover{
  color: green;
  text-decoration: none;
  font-size: 100px;
  position: absolute;
  top: 380px;
  right: 180px;
  z-index: 1;
  cursor: pointer;
}

/* MediaQuery additions YAY */
@media only screen and (max-width: 846px){
  .sidebar{
    display: none;
  }
